<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Scale Labs</title>
</head>

<body>

  <!-- header -->
  <br>
  <div class="container">
    <div class="float-right"><a href="http://localhost:3000/logout">Logout</a></div><br>
    <center>
      <h2>Scale Labs</h2>
      <p><%= typeof email != 'undefined' ? 'Welcome '+ email : 'Guest User' %></p>
    </center>
  <div>
      <hr></hr>

      <br>
      <div class="container">
        <div class="row">
          <div class="col-3">
            <form action="/uploadImage" method="POST" enctype="multipart/form-data">
              <center>
                <h5>Select Image</h5>
              </center>
              <br>
              <div class="form-group">
                <input type="file" class="form-control" name="myImageName" id="myImage">
                <%= typeof msg != 'undefined' ? msg : '' %>
              </div>
              <div class="form-group">
                <label for="exampleInputTitle">Title</label>
                <input type="text" class="form-control" name="title" id="exampleInputTitle" placeholder="Enter title">
              </div>
              <div class="form-group">
                <label for="exampleInputDescription">Description</label>
                <input type="text" class="form-control" name="description" id="exampleInputDescription" placeholder="Enter description">
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="isSharable">
                   Share with community
                </label>
              </div>
              <br>
              <center>
                <button type="submit" class="btn btn-primary">Submit</button>
              </center>
            </form>
            <br>
            <p>  <%= typeof url != 'undefined' ? 'Image url : '+url : '' %></p>

          </div>
          <div class="col-9">
            <div style="border-left: 3px solid #dfdfdf;padding: 50px;">
              <div class="row">

                <%if( typeof images != 'undefined') { %>
                  <% for(var i=0; i< images.length; i++) { %>
                <div class="col-sm-4">
                  <p>Title : <%= images[i].imageTitle %></p>
                  <img src="<%= 'https://sheltered-escarpment-64025.herokuapp.com/fetchImage/'+images[i].imageName %>" class="float-left" style="width:200px;height:100px;">
                  <p>Description : <%= images[i].imageDescription %></p>
                </div>
                  <% } %>
                <% } %>

              </div>
            </div>
          </div>
        </div>
      </div>



        <!-- Optional JavaScript -->
        <!-- ajax CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
