<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Scale Labs</title>
</head>

<body>

  <!-- header -->
  <br>
  <div class="container">
    <div class="float-right"><a href="https://sheltered-escarpment-64025.herokuapp.com/logout">Logout</a></div><br>
    <center>
      <h2>Scale Labs</h2>
      <p><%= typeof email != 'undefined' ? 'Welcome '+ email : 'Guest User' %></p>
    </center>
  <div>
      <hr></hr>
      <center>
      <p class="h6"> <%= typeof url != 'undefined' ? 'Image url : '+url : '' %></p>
    </center>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-3">
            <form name="uploadForm" action="/home" method="POST" enctype="multipart/form-data" >
              <center>
                <h5>Select Image</h5>
              </center>
              <br>
              <div class="form-group">
                <input type="file" class="form-control" name="myImageName" id="myImage" >
                <%= typeof msg != 'undefined' ? msg : '' %>
              </div>
              <div class="form-group">
                <label for="exampleInputTitle">Title</label>
                <input type="text" class="form-control" name="title" id="exampleInputTitle" placeholder="Enter title" required>
              </div>
              <div class="form-group">
                <label for="exampleInputDescription">Description</label>
                <input type="text" class="form-control" name="description" id="exampleInputDescription" placeholder="Enter description" required>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="isSharable">
                   Share with community
                </label>
              </div>
              <br>
              <center>
                <button type="submit" class="btn btn-primary">Submit</button>
              </center>
            </form>
            <br>


          </div>
          <div class="col-9">
            <div style="border-left: 3px solid #dfdfdf;padding: 50px;">
              <div class="row">

                <%if( typeof images != 'undefined') { %>
                  <% for(var i=0; i< images.length; i++) { %>
                <div class="col-sm-4">
                  <div class="card" style="width:200px;">
                    <img class="card-img-top" src="<%= 'https://sheltered-escarpment-64025.herokuapp.com/fetchImage/'+images[i].imageName %>" alt="Card image cap" >
                    <div class="card-body">
                      <h5 class="card-title"><%= images[i].imageTitle %></h5>
                      <p class="card-text"><%= images[i].imageDescription %></p>
                      <p class="font-weight-bold"><small>Url - https://sheltered-escarpment-64025.herokuapp.com/fetchImage/<%= images[i].imageName %></small></p>
                    </div>
                  </div>
                </div>
                  <% } %>
                <% } %>

              </div>
            </div>
          </div>
        </div>
      </div>



        <!-- Optional JavaScript -->
        <!-- ajax CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>


</body>

</html>
